* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center; /* center items horizontally */
  justify-content: center; /* center items vertically */
  height: 100vh; /* set body height to be the viewport height for text centering */
  background-image: url('index_MJ_background.png');
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-bottom: 1em;  /* add space between the heading and the menu items */
  font-family: 'Bungee', sans-serif;
  font-size: 4em;
  max-width: 80%;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
}
.menu li {
  margin: 0 1.35em; /* put space between the menu items */
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: pink;
}
