* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}


/* header-related things */
header {
  display: flex;
  flex-direction: column;
  align-items: center; /* center items horizontally */
  justify-content: center; /* center items vertically */
  height: 15rem;
  background-image: url('others_MJ_background.png');
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: .4em;
}
header h1 {
  margin-bottom: .4em; /* add space between the heading and the menu items */
  font-family: 'Bungee', sans-serif;
  font-size: 3em;
  max-width: 80%;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
}
.menu {
  list-style: none;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 1.35em;
}
.menu li {
  margin: 0 1.3em; /* put space between the menu items */
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: pink;
}

/* section headings */
h2 {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  max-width: 80%;
  margin-left: .4em;
}
hr {
  border: none;
  height: .15rem;
  background-color: black;
}
.bottom_hr {
  margin-bottom: 1em;
}

/* unique to writing page */
.writing_links {
  margin-left: 2em;
  list-style: none;
  font-size: 1.25em;
}
.writing_links li {
  margin-bottom: .35em;
}
.writing_links a {
  text-decoration: none;
  color: rgb(243, 95, 169);
}
.writing_links a:hover {
  color: pink;
}
