* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}


/* header-related things */
header {
  display: flex;
  flex-direction: column;
  align-items: center; /* center items horizontally */
  justify-content: center; /* center items vertically */
  height: 15rem;
  background-image: url('../images/backgrounds/others-mj-background.png');
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: .4em;
}
header h1 {
  margin-bottom: .4em; /* add space between the heading and the menu items */
  font-family: 'Bungee', sans-serif;
  font-size: 3em;
  max-width: 80%;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
}
.menu {
  list-style: none;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 1.35em;
}
.menu li {
  margin: 0 1.3em; /* put space between the menu items */
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: pink;
}


main {
  width: min(805px, calc(100vw - 25px));
  margin: 16px auto;
}


/* section headings */
h2 {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  margin-left: 2rem;
  position: relative;
}
hr {
  border: none;
  height: .15rem;
  background-color: black;
}
.bottom-hr {
  margin-bottom: 1em;
}


p {
  margin: 1rem 2.3rem .5rem 2.3rem;
  font-size: 1.25em;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgb(243, 95, 169);
}
a:hover {
  color: pink;
}


.inline-links {
  display: flex;
  margin-left: 2.4rem;
  list-style: none;
  font-size: 1.25em;
  margin-bottom: 2rem;
}
.inline-links li {
  margin-right: .8em;
}


.list-of-links {
  margin-left: 2.3rem;
  list-style: none;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.list-of-links li {
  margin-bottom: .35em;
}


strike {
  color: rgb(243, 95, 169);
  text-decoration-thickness: .5rem;
}
#strikethrough-text {
  color: black
}

#is-active a {
  color:pink;
}

img {
  max-width: 300px;
  max-height: 300px;
}

.art-caption {
  margin-top: 0;
  margin-bottom: 0;
}
.art-material-and-size {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(189, 187, 187);
}

.link-to-top {
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  position: absolute;
  right: 0;
}

.line-between-art {
  background-color: rgb(180, 180, 180);
  height: .1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}




.art-example {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 2.1rem;
}

.art-example img {
  flex: 0 0 auto;
  margin-right: 20px;
  max-width: 300px;
}


.art-text-container {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  width: 50%;
  max-width: 600px;
}

.art-text-container p {
  margin: 0;
}


section.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-image-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-image-container img {
  margin: 10px;
  max-width: 100%;
  height: auto;
}

.about-text-container {
  flex: 1;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  section.about-section {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .about-image-container {
    margin-bottom: 20px;
  }
  
  .about-text-container {
    margin: 0;
  }
}

#about-text {
  font-size: 1.3rem;

}


.icon-container {
  display: flex;
  justify-content: center;
  margin-right: 55px;
}

.icon {
  margin-top: 1rem;
  margin-left: .2rem;
  margin-right: .2rem;
  width: 35px;
}
#github-icon {
  margin-top: .8rem;
  width: 40px;
}

.about-text-container {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}