:root {
  --dark-pink: rgb(243, 95, 169);
  --light-pink: rgb(254, 189, 200);
  --dark-gray: rgb(129, 128, 128);
  --med-gray: rgb(175, 174, 174);
  --light-gray: rgb(189, 187, 187);
  --extra-light-pink: rgb(255,218,221);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}

/* header-related things */
header {
  display: flex;
  flex-direction: column;
  align-items: center; /* center items horizontally */
  justify-content: center; /* center items vertically */
  height: 15rem;
  background-image: url('../images/backgrounds/others-mj-background.png');
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: .4em;
}
header h1 {
  margin-bottom: .4em; /* add space between the heading and the menu items */
  font-family: 'Bungee', sans-serif;
  font-size: 3em;
  max-width: 80%;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
}
.menu {
  list-style: none;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 1.35em;
}
.menu li {
  margin: 0 1.3em; /* put space between the menu items */
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: var(--light-pink);
}


main {
  width: min(805px, calc(100vw - 25px));
  margin: 16px auto;
}


/* section headings */
h2 {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
}
hr {
  border: none;
  height: .15rem;
  background-color: black;
}
.bottom-hr {
  margin-bottom: 1em;
}


p {
  margin: 1rem 2.3rem .5rem 2.3rem;
  font-size: 1.25em;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--dark-pink);
}
a:hover {
  color: var(--light-pink);
}


.inline-links {
  display: flex;
  margin-left: 2.4rem;
  list-style: none;
  font-size: 1.25em;
  margin-bottom: 2rem;
}
.inline-links li {
  margin-right: .8em;
}


.list-of-links {
  margin-left: 2.3rem;
  list-style: none;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1em;
}
.list-of-links.writing-page {
  line-height: 2.3rem;
}


strike {
  color: var(--dark-pink);
  text-decoration-thickness: .5rem;
}
#strikethrough-text {
  color: black
}

#is-active a {
  color: var(--light-pink);
}




/* art-page-specific things */
.art-caption {
  margin-top: 0;
  margin-bottom: 0;
}
.art-material-and-size {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--light-gray);
}
.link-to-top {
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  position: absolute;
  right: 0;
}
.line-between-art {
  background-color: var(--med-gray);
  height: .1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.art-section {
  margin-bottom: 5rem;
}
.art-example {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 2.1rem;
}
.art-example img {
  flex: 0 0 auto;
  margin-right: 20px;
  max-width: 300px;
}
.art-text-container {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  width: 50%;
  max-width: 600px;
}
.art-text-container p {
  margin: 0;
}


/* writing-pages-specific things */
span.writing-post-title {
  color: var(--dark-pink);
}
ul.writing-bullets {
  font-size: 1.25em;
  margin-left: 5rem;
  margin-right: 2.3rem;
}
.writing-back-link {
  display: flex;
  font-size: 1.25em;
  margin-left: 2.4rem;
  margin-top: 1.6rem;
}
.writing-post-single-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.writing-inline-image-container {
  display: flex; /* Use flexbox to center the images horizontally */
  justify-content: center; /* Center the images horizontally */
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.writing-inline-image-container img {
  margin: 0 10px;
  max-width: 250px;
}


/* icons (become pink on hover) */
.linkedin-icon {
  background-image: url("../images/social-icons/linkedin.png");
  background-size: contain;
}
.linkedin-icon:hover {
  background-image: url("../images/social-icons/linkedin-pink.png");
  background-size: contain;
}
.github-icon {
  background-image: url("../images/social-icons/github.png");
  background-size: contain;
}
.github-icon:hover {
  background-image: url("../images/social-icons/github-pink.png");
  background-size: contain;
}
.email-icon {
  background-image: url("../images/social-icons/email.png");
  background-size: contain;
}
.email-icon:hover {
  background-image: url("../images/social-icons/email-pink.png");
  background-size: contain;
}


/* about-page-specific things */
div.about-content {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
}
.about-image-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-image-container img {
  margin: 10px;
  max-width: 100%;
  height: auto;
}
.about-text-container {
  flex: 1;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  div.about-content {
    flex-direction: column;
    align-items: flex-start;
  } 
  .about-image-container {
    margin-bottom: 20px;
  }
  .about-text-container {
    margin: 0;
  }
}
#about-text {
  font-size: 1.4rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-right: 55px;
}
.icon {
  margin-top: 1rem;
  margin-left: .2rem;
  margin-right: .2rem;
  width: 35px;
  height: 35px;
}

.about-text-container {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-caption {
  font-size: 1rem;
  margin: 0;
  color: var(--dark-gray);
}


/* quote section */
#quote-text {
  border: 3px solid var(--extra-light-pink);
  border-radius: 25px;
  padding: 20px;
  margin-top: 2.15rem;
  box-shadow: 3px 3px var(--light-gray);;
}
#quote-rat {
  float: right;
  display: block;
  height:200px;
  margin-right: 5px;
}
#quote-author {
  text-align: right;
  display: block;
  clear: right;
  color: var(--dark-gray);
  margin-right: 0;
}


/* footer */
.footer-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
.footer-cat {
  margin: 1rem .8rem 2rem .8rem;
  width: 80px;
}
.footer-icon {
  margin: 1.4rem .2rem 2rem .2rem;
  width: 20px;
  height: 20px;
}